DATABASE_URL="postgresql://mirainox:mirainox123@localhost:5432/mirainox_db"
JWT_SECRET="mirainox_jwt_secret_super_seguro_2024"
JWT_EXPIRES_IN="7d"
PORT=3001
UPLOAD_DIR="uploads"
NODE_ENV="development"
